// RESET

*
  font-family Arial, sans-serif

html,
body
  height 100%

ul
  margin 0
  padding 0
  list-style-type none

// RESET

#root
  display flex
  height 100%
  justify-content center

section
  display flex
  flex-direction column
  padding 14px
